In [5]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

engine = create_engine("mysql+pymysql://root:1234@localhost/my_db")

In [8]:
df = pd.read_sql("SHOW TABLES IN my_db;", engine)
df.head()

  Tables_in_my_db
0            dept
1             emp
2      products_1
3        salgrade

In [7]:
# DB 연결 문자열: MySQL + PyMySQL
#engine = create_engine("mysql+pymysql://root:1234@localhost/my_db", echo=True)

# ORM 기본 클래스 생성
Base = declarative_base()

# products 테이블 정의
class Product(Base):
    __tablename__ = 'products_1'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    price = Column(Integer, nullable=False)
    stock = Column(Integer, nullable=False)

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price}, stock={self.stock})>"

# 테이블 생성
Base.metadata.create_all(engine)

C:\Users\Admin\AppData\Local\Temp\ipykernel_16796\3120702339.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()